@charset 'utf-8';
@import url('common.css');



.spot{padding:100px 0; text-align:center;}
main .thum img{height:206px}

body{background:#f3f3f3;}

/* 1600px */




/* @media (max-width:480px){
    0 ~ 480
    body{background:#ff0000;}
    .col-xs-6{}
}
@media (min-width:768px) and (max-width:1024px){
    768 ~ 1024
    body{background:#0011ff;}
}
@media (min-width:1025px) and (max-width:1599px){
    1025 ~ 1599
    body{background:#00ff2a;}
} */

main{
	width: 80%;
	margin: 0 auto;
}
header nav{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:30px 30px 0 30px;
}
.concept01{
	margin: 20px 0;
	display: flex;
	
}
.concept01 img{
	width: 80%;
}
.concept01 span{
	
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: 1px solid gray;
}
.concept01 span a{
	padding: 18%;
	
	border-bottom: 1px solid gainsboro;
	width: 100%;
}
main article{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5% 0;
	
}
main article h2{
	font-size: 24px;
}
/* main article nav:nth-of-type(2){
	content: '';
    position: absolute;
    top: 50%;
    right: -1px;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    background-color: #e8ecee;
}
main article nav a{ */
	margin-left: 32px;
}
main article nav:nth-of-type(1) a{
	font-size: 18px;
	color: #a19c9c;
}
main article nav:nth-of-type(2) a{
	font-size: 14px;
	color: #a19c9c;
}
.concept02{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style:none; margin:0; padding:0;
}
.concept02 figure{
	width: 23%;
	flex-shrink: 0;
	margin-bottom:5%;
}
.concept02 figure figcaption{
	margin: 22px 0;
}
.concept02 figure figcaption img{
	width: 50%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.concept02 figure figcaption h2{
	margin: 22px auto;
	font-size: 18px;
	letter-spacing: -0.72px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.concept02 figure figcaption a{
	display: flex;
	align-items: center;
	justify-content: center;

}
.keyword{
	width: 100%;
	margin: 0 auto;
	border: 2px dotted #a19c9c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
}
.keyword div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.keyword div h2{
	font-size: 16px;
	margin: 0 20px;
}
.keyword p{
	margin-right: 20px;
}
.review{
	margin: 30px auto;
	width: 100%;
}
.review h2{

}
.review div{
display: flex;
justify-content: space-between;
align-items: center;

}
.review div figure{
	width: 30%;

}
.review div figure a{

}
.review div figure figcaption{

}





